#alerta
	#alerta_controls
		%a#alerta_close{:href=>'/'}
	#alerta_header
		%img{:src=>'images/alerta/icon.png'}
		%p.light TU ASESOR SE COMUNICARÁ CONTIGO
		%a.button.black{:href=>'/'} VER MAS PRODUCTOS
	#alerta_footer
		%p Si tienes dudas, escribele a tu asesor.
		.asesor
			%img{:src=>'images/asesor/asesor.png'}
			%h2 Mario López
			.whatsapp +52 1 55 3029 8790
			.icon