#asesor
	.sidebar{:action=>'open'}
		.superfixed
			.fixed
				.icon.open
				%p ¿NECESITAS AYUDA?
			.logo
	.content
		.title
			%p TU ASESOR
			.line
		.asesor_data
			%img{:src=>'images/asesor/asesor.png'}
			.text
				%h2.light MARIO LÓPEZ
				.whatsapp
					.icon
					%span Contacto Whatsapp
					%p.light 55 3029 8790
		.superchat
			.chat
				.header_chat
					.icon
					%span CHAT EN LÍNEA
				.box_chat
					.burble
						%p Hola, Mariana
						%p ¿En qué te puedo ayudar?
					.time 12:30 pm
					.controls
						.minibutton ENVIAR



















