#footer
	%ul.supercenter
		%li
			%a{:href=>'/gafas'} GAFAS
			%a{:href=>'/leco'} LENTES DE CONTACTO
			%a{:href=>'/examen'} EXAMEN DE LA VISTA
			%a{:href=>'/micas'} CAMBIO DE MICAS
			%a{:href=>'/gafas'} BLOG

		%li
			%a{:href=>''} AVISO DE PRIVACIDAD
			%a{:href=>''} TÉRMINOS Y CONDICIONES
			%a{:href=>''} FAQ
			%a{:href=>''} ACERCA DE NOSOTROS
		%li
			%span Siguenos
			%a.nt.fb{:href=>''}
			%a.nt.in{:href=>''}
			%br
			%br
			%a{:mailto=>''} contacto@contacto.com
			%a{:phone=>''} 55.00.33.11.22
	%p COPYRIGHT © 2016. LECO COMERCIO SAPI DE CV
			
			