!!! 5
%html
	%head
		%title LECO - PROTOTYPE
		%meta{ :charset => 'utf-8'}
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable = yes'}
		%link{ :href => 'https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700', :rel => 'stylesheet', :type => 'text/css' }

		%link{:rel => 'shortcut icon', :href => '/images/general/favicon.ico'}

		/ANIMATE
		%link{:rel => 'stylesheet', :href => '/css/animate.css', :type => 'text/css'}

		/RESET AND MAIN
		%link{:rel => 'stylesheet', :href => '/css/reset.css', :type => 'text/css'}
		%link{:rel => 'stylesheet', :href => '/css/main.css', :type => 'text/css'}

		/HOME
		%link{:rel => 'stylesheet', :href => '/css/home.css', :type => 'text/css'}

		/PRODUCTO
		%link{:rel => 'stylesheet', :href => '/css/producto.css', :type => 'text/css'}

		/MICAS
		%link{:rel => 'stylesheet', :href => '/css/micas.css', :type => 'text/css'}

		/EXAMEN
		%link{:rel => 'stylesheet', :href => '/css/examen.css', :type => 'text/css'}

		/LENTES CONTACTO
		%link{:rel => 'stylesheet', :href => '/css/lentes_contacto.css', :type => 'text/css'}

		/PERFIL
		%link{:rel => 'stylesheet', :href => '/css/perfil.css', :type => 'text/css'}

		/CHEKOUT
		%link{:rel => 'stylesheet', :href => '/css/checkout.css', :type => 'text/css'}

		/AGENDA
		%link{:rel => 'stylesheet', :href => '/css/agenda.css', :type => 'text/css'}


		/JQUERY 
		/%script{ :src => 'https://www.youtube.com/iframe_api', :type => 'text/javascript'}
		%script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js', :type => 'text/javascript'}
		%script{ :src => 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js', :type => 'text/javascript'}
		
		/WAYPOINTS
		%script{ :src => '/js/waypoint.js', :type => 'text/javascript'}
		
		/ FUNCTIONS
		%script{ :src => '/js/functions.js', :type => 'text/javascript'}