%ul#menu
	%li
		%a{:href=>'/'} 
			%img{:src=>'images/leco.png'}
	%li
		%a{:href=>'/leco'} LENTES DE CONTACTO
	%li
		%a{:href=>'/gafas'} GAFAS
	%li
		%a{:href=>'/examen'} EXAMEN DE LA VISTA
	%li
		%a{:href=>'/micas'} CAMBIO DE MICAS

	%a.user{:href=>'/perfil'}
		%img{:src=>'images/usuario/01.png'}

	#prices
		%h1.light Accuve oasis
		%span
		%p.bold $ 1,236
		.button.black{:href=>'/'} COMPRAR
