%ul#menu
	%li
		%a{:href=>'/'} 
			%img{:src=>'images/leco.png'}
	%li
		%a{:href=>'/gafas'} GAFAS
	%li
		%a{:href=>'/leco'} LENTES DE CONTACTO
	%li
		.line
	%li
		%a{:href=>'/examen'} EXAMEN DE LA VISTA
	%li
		%a.active{:href=>'/micas'} CAMBIO DE MICAS

	%a.user{:href=>'/perfil'}
		%img{:src=>'images/usuario/01.png'}

	#prices
		%p.bold $690
		%a.button.blue{:href=>'/checkout'} CAMBIO DE MICAS
