#wishlist
	.title
		%p WISHLIST
		.line
	.photos
		.photo
			%img{:src=>'images/whislist/01.png'}
			%h2 ALL SUMER
			%p.bold $ 1,200
			%a{:href=>'/checkout'}.button.black COMPRAR
		.photo
			%img{:src=>'images/whislist/02.png'}
			%h2 ALL SUMER
			%p.bold $ 1,200
			%a{:href=>'/checkout'}.button.black COMPRAR
		.photo
			%img{:src=>'images/whislist/03.png'}
			%h2 ALL SUMER
			%p.bold $ 1,200
			%a{:href=>'/checkout'}.button.black COMPRAR
		.photo
			%img{:src=>'images/whislist/01.png'}
			%h2 ALL SUMER
			%p.bold $ 1,200
			%a{:href=>'/checkout'}.button.black COMPRAR
		.photo
			%img{:src=>'images/whislist/02.png'}
			%h2 ALL SUMER
			%p.bold $ 1,200
			%a{:href=>'/checkout'}.button.black COMPRAR
	.alert
		%p
			%span ¿No te decides?
			Comparte tu wishlist para que 
			%br
			tus amigos voten por los que te van mejor.
		.button.white bitly.com/1234
		.button.gray COPIAR


