body {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  min-height: 100%; }

.supercenter {
  width: 1160px;
  margin: 0 auto; }

#menu {
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #EDE9E4;
  background: #FFF;
  overflow: hidden;
  z-index: 100; }
  #menu li {
    float: left; }
    #menu li a {
      font-size: 12px;
      display: block;
      font-weight: 500;
      color: #7E7E7E;
      padding: 30px 20px 27px 14px;
      height: 100%;
      letter-spacing: 1px; }
      #menu li a img {
        float: left;
        margin-top: -10px; }
      #menu li a:hover {
        color: #0568FF;
        font-weight: 700; }
      #menu li a.active {
        color: #0568FF;
        font-weight: 700;
        background: url(../images/hover.png) center no-repeat; }
    #menu li .line {
      width: 18px;
      height: 1px;
      background: #979797;
      opacity: 0.5;
      margin-top: 34px; }
  #menu .user {
    float: right;
    margin: 18px 20px 0; }
    #menu .user:hover span {
      font-weight: 700;
      color: #0568FF; }
    #menu .user span {
      display: inline-block;
      vertical-align: top;
      margin: 14px 10px 0 0;
      font-size: 12px;
      letter-spacing: 1px;
      color: #7E7E7E;
      font-weight: 500; }
  #menu #prices {
    float: right;
    height: 48px;
    margin: 12px 0 0 0; }
    #menu #prices.hide {
      display: none; }
    #menu #prices * {
      float: left; }
    #menu #prices h1 {
      font-size: 22px;
      font-weight: 200;
      color: #000;
      opacity: 0.5;
      margin-top: 12px; }
    #menu #prices .button {
      margin-left: 20px; }
    #menu #prices span {
      width: 42px;
      height: 1px;
      background: #979797;
      display: block;
      margin: 24px 20px; }
    #menu #prices p {
      font-size: 20px;
      color: #000;
      margin-top: 13px;
      font-weight: 200; }

#section_title {
  font-size: 50px;
  color: #00CE24;
  text-align: center; }
  #section_title h1 {
    padding: 100px 0 80px; }
  #section_title p {
    font-size: 14px;
    padding-bottom: 20px; }
  #section_title.gafas {
    background: url(../images/lentes_contacto/bg_gafas.png) center no-repeat;
    background-size: cover; }
  #section_title.leco {
    background: url(../images/lentes_contacto/bg_leco.png) center no-repeat;
    background-size: cover; }
    #section_title.leco h1, #section_title.leco p {
      color: #0568FF; }

.filtros_content {
  overflow: hidden; }
  .filtros_content #search {
    float: right;
    width: 70px;
    height: 70px; }
    .filtros_content #search .icon {
      cursor: pointer;
      float: right;
      width: 70px;
      height: 70px;
      background: url(../images/search/01.png) center no-repeat; }
    .filtros_content #search input {
      display: none;
      float: right;
      width: 200px;
      height: 20px;
      padding: 10px 10px 0;
      border: none;
      font-size: 20px;
      font-family: "Raleway", sans-serif;
      color: #FFF;
      outline: none;
      border-bottom: 1px solid #FFF;
      background: transparent;
      margin-top: 16px; }
  .filtros_content #filtros {
    overflow: hidden; }
    .filtros_content #filtros .filtro {
      cursor: pointer;
      position: relative;
      text-align: center;
      padding: 28px 0;
      font-size: 14px;
      letter-spacing: 1.8px; }
      .filtros_content #filtros .filtro .line {
        position: absolute;
        right: 0;
        width: 1px;
        height: 100%;
        background: #FFF;
        top: 0; }
      .filtros_content #filtros .filtro span {
        display: inline-block;
        width: 10px;
        height: 10px; }
      .filtros_content #filtros .filtro.down {
        color: #FFF; }
        .filtros_content #filtros .filtro.down span {
          background: url(../images/search/down.png) center no-repeat; }
      .filtros_content #filtros .filtro.up span {
        background: url(../images/search/up.png) center no-repeat; }
  .filtros_content #subfiltros {
    display: none;
    width: 100%;
    padding: 2px 0;
    text-align: center; }
    .filtros_content #subfiltros .button_filtro {
      display: inline-block;
      width: 200px;
      border-radius: 40px;
      font-size: 13px;
      padding: 13px 0;
      margin: 18px 20px;
      cursor: pointer; }
    .filtros_content #subfiltros .subfiltro {
      display: none; }

#filtros_gafas {
  border-top: 1px solid #00CE24; }
  #filtros_gafas #search {
    background: rgba(0, 206, 36, 0.8); }
  #filtros_gafas #filtros .filtro {
    float: left;
    width: 33.33%; }
    #filtros_gafas #filtros .filtro.down {
      background: #00CE24; }
    #filtros_gafas #filtros .filtro.up {
      background: #CCF5D3;
      color: #00CE24; }
      #filtros_gafas #filtros .filtro.up span {
        background: url(../images/search/up_green.png) center no-repeat; }
  #filtros_gafas #subfiltros {
    border-bottom: 1px solid #00CE24; }
    #filtros_gafas #subfiltros .button_filtro {
      border: 1px solid #00CE24;
      color: #00CE24; }
      #filtros_gafas #subfiltros .button_filtro.active {
        background: #E2FAE8;
        border-color: transparent; }

#filtros_leco {
  border-top: 1px solid #0568FF; }
  #filtros_leco #search {
    background: rgba(5, 104, 255, 0.8); }
  #filtros_leco #filtros .filtro {
    float: left;
    width: 25%; }
    #filtros_leco #filtros .filtro.down {
      background: #0568FF; }
    #filtros_leco #filtros .filtro.up {
      background: rgba(5, 104, 255, 0.2);
      color: #0568FF; }
  #filtros_leco #subfiltros {
    border-bottom: 1px solid #0568FF; }
    #filtros_leco #subfiltros .button_filtro {
      border: 1px solid #0568FF;
      color: #0568FF; }
      #filtros_leco #subfiltros .button_filtro.active {
        background: rgba(5, 104, 255, 0.2);
        border-color: transparent; }

#asesor {
  float: left;
  width: 60px;
  background: #6AE2D6;
  margin-top: 71px; }
  #asesor:hover {
    background: rgba(106, 226, 214, 0.8); }
  #asesor .sidebar {
    position: relative;
    float: right;
    width: 60px;
    height: 100%;
    cursor: pointer;
    color: #FFF; }
    #asesor .sidebar .superfixed {
      position: fixed;
      margin: 290px 0 0 -6px; }
      #asesor .sidebar .superfixed .fixed {
        transform: rotate(270deg);
        font-size: 12px;
        font-weight: 600;
        margin-left: -44px; }
        #asesor .sidebar .superfixed .fixed p {
          letter-spacing: 1px; }
        #asesor .sidebar .superfixed .fixed p, #asesor .sidebar .superfixed .fixed .icon {
          display: inline-block;
          vertical-align: top; }
        #asesor .sidebar .superfixed .fixed .icon {
          width: 30px;
          height: 30px;
          margin: -8px 6px 6px 6px; }
          #asesor .sidebar .superfixed .fixed .icon.open {
            background: url(../images/asesor/open.png) center no-repeat; }
          #asesor .sidebar .superfixed .fixed .icon.close {
            background: url(../images/asesor/close.png) center no-repeat; }
      #asesor .sidebar .superfixed .logo {
        margin: 76px 0 0 20px;
        width: 35px;
        height: 35px;
        background: url(../images/asesor/logo.png) center no-repeat;
        background-size: cover; }
  #asesor .content {
    display: none;
    float: left;
    position: fixed;
    width: 520px;
    height: 100%;
    background: #F0FCFB;
    overflow: hidden; }
    #asesor .content .title {
      width: 100%;
      overflow: hidden;
      padding: 40px 0 40px 40px; }
      #asesor .content .title p {
        float: left;
        font-size: 16px;
        font-weight: 200;
        margin-right: 20px; }
      #asesor .content .title .line {
        overflow: hidden;
        height: 1px;
        background: #979797;
        opacity: 0.2;
        margin-top: 8px; }
    #asesor .content .asesor_data {
      text-align: center;
      padding-bottom: 40px; }
      #asesor .content .asesor_data * {
        display: inline-block;
        vertical-align: top; }
      #asesor .content .asesor_data img {
        width: 124px;
        height: 124px;
        margin-right: 20px; }
      #asesor .content .asesor_data .text {
        width: 200px;
        text-align: left; }
        #asesor .content .asesor_data .text h2 {
          font-size: 24px;
          margin: 15px 0; }
        #asesor .content .asesor_data .text .whatsapp .icon {
          width: 20px;
          height: 20px;
          margin: 0 6px 0 0;
          background: url(../images/asesor/whatsapp.png) center no-repeat; }
        #asesor .content .asesor_data .text .whatsapp span {
          font-size: 16px;
          font-weight: 200; }
        #asesor .content .asesor_data .text .whatsapp p {
          font-size: 20px;
          color: #3ACE01;
          margin-top: 15px; }
    #asesor .content .superchat {
      padding: 20px;
      background: #FBFBFB; }
    #asesor .content .chat {
      text-align: left;
      padding-bottom: 40px;
      width: 440px;
      margin: 0 auto; }
      #asesor .content .chat .header_chat {
        margin-bottom: 10px; }
        #asesor .content .chat .header_chat * {
          display: inline-block; }
        #asesor .content .chat .header_chat .icon {
          width: 15px;
          height: 15px;
          background: url(../images/asesor/chat.png) center no-repeat;
          margin-right: 10px; }
        #asesor .content .chat .header_chat span {
          font-size: 16px; }
      #asesor .content .chat .box_chat {
        position: relative;
        border-radius: 6px;
        border: 1px solid #CFCFCF;
        padding: 16px 0;
        height: 268px; }
        #asesor .content .chat .box_chat * {
          display: inline-block;
          vertical-align: bottom; }
        #asesor .content .chat .box_chat .burble {
          width: 258px;
          padding: 14px;
          margin: 0 16px;
          border-radius: 6px;
          border: 1px solid #CFCFCF;
          background: #F9F9F9;
          font-size: 18px; }
          #asesor .content .chat .box_chat .burble p {
            padding: 6px 10px; }
        #asesor .content .chat .box_chat .time {
          padding-bottom: 4px;
          font-size: 14px;
          opacity: 0.3; }
        #asesor .content .chat .box_chat .controls {
          position: absolute;
          height: 60px;
          left: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #CFCFCF; }
          #asesor .content .chat .box_chat .controls .minibutton {
            float: right;
            display: block;
            border-radius: 40px;
            width: 94px;
            padding: 16px 0;
            font-size: 13px;
            text-align: center;
            border: 1px solid #EDEDED;
            cursor: pointer;
            margin: 6px 6px 0 0; }
    #asesor .content .minisection {
      border-top: 1px solid #CFCFCF;
      padding: 0 0 0 20px; }
      #asesor .content .minisection h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 17px; }
        #asesor .content .minisection h2 span {
          display: block;
          padding-bottom: 6px; }
      #asesor .content .minisection .line {
        width: 454px;
        height: 1px;
        background: #CFCFCF;
        margin: 0 auto; }
      #asesor .content .minisection .subtitle {
        font-size: 18px;
        text-align: center;
        font-weight: 200;
        opacity: 0.5;
        padding: 20px 0;
        line-height: 22px;
        letter-spacing: 2; }
      #asesor .content .minisection img {
        display: block;
        width: 308px;
        margin: 0 auto 30px; }
      #asesor .content .minisection .product {
        text-align: center; }
        #asesor .content .minisection .product * {
          display: inline-block;
          vertical-align: top; }
        #asesor .content .minisection .product p {
          font-size: 22px;
          font-weight: 200;
          color: #000;
          opacity: 0.5; }
        #asesor .content .minisection .product span {
          width: 42px;
          height: 1px;
          background: #979797;
          margin: 12px 14px 0; }
        #asesor .content .minisection .product .price {
          font-size: 20px; }
    #asesor .content .button {
      margin: 40px auto 60px; }
    #asesor .content .tu_graduacion p {
      text-align: center;
      padding: 40px 0;
      font-size: 18px;
      font-weight: 200;
      opacity: 0.5;
      line-height: 22px; }
      #asesor .content .tu_graduacion p span {
        font-weight: 500; }
    #asesor .content .miniwhislist {
      background: #E9EFED;
      text-align: center;
      padding-bottom: 40px; }
      #asesor .content .miniwhislist h2 {
        margin-top: 30px; }
      #asesor .content .miniwhislist p {
        font-size: 18px;
        font-weight: 200;
        opacity: 0.5;
        line-height: 22px;
        padding: 40px 0; }
      #asesor .content .miniwhislist .photos {
        margin-bottom: 40px; }
        #asesor .content .miniwhislist .photos img {
          display: inline-block;
          width: 146px;
          margin: 0 7px; }
      #asesor .content .miniwhislist .button {
        border: 1px solid #DFDFDF; }

#content {
  overflow: hidden;
  min-height: 100%;
  background: #FFF;
  margin-top: 71px; }

.gridcontent {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #EDEDED;
  background: #FFF; }
  .gridcontent .moreitems {
    display: none; }
  .gridcontent .grid {
    position: relative;
    float: left;
    width: 33.3%;
    height: 400px;
    outline: 1px solid #EDEDED;
    overflow: hidden; }
    .gridcontent .grid .img {
      margin: 112px auto;
      width: 344px;
      height: 164px; }
    .gridcontent .grid .text {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 0;
      color: #1D1D1B;
      font-size: 14px; }
      .gridcontent .grid .text h2 {
        float: left;
        margin-left: 20px;
        opacity: 0.5;
        font-family: "Berthold Akzidenz Grotesk Light Extended", serif;
        letter-spacing: 1px; }
      .gridcontent .grid .text p {
        float: right;
        margin-right: 20px;
        opacity: 0.5;
        font-family: "Berthold Akzidenz Grotesk Medium Extended", serif; }
    .gridcontent .grid:hover h2, .gridcontent .grid:hover p {
      opacity: 1; }

.producto1 .img {
  background: url(../images/producto/spri-negro.png);
  background-size: 100%; }
.producto1:hover .img {
  background-position: 0 -688px; }

.producto2 .img {
  background: url(../images/producto/spri-meow.png);
  background-size: 100%; }
.producto2:hover .img {
  background-position: 0 -688px; }

.producto3 .img {
  background: url(../images/producto/lentes_contacto.png) center 0 no-repeat;
  background-size: 80%; }
.producto3:hover .img {
  background-position: center -164px; }

.button {
  display: block;
  border-radius: 40px;
  width: 180px;
  padding: 16px 0;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px; }
  .button.black {
    background: #000;
    color: #FFF; }
  .button.blue {
    background: #3297F7;
    color: #FFF; }
  .button.green {
    background: #6FCA0A;
    color: #FFF; }
  .button.white {
    background: #FFF;
    color: #000;
    border: 1px solid #CCC; }
  .button.rectangle {
    border-radius: 10px;
    background: #EDEDED !important;
    border: 1px solid #CCC !important;
    color: #0568FF; }

#superbanner h3 {
  font-size: 35px;
  line-height: 46px; }
#superbanner p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #000;
  line-height: 20px; }

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  text-align: center;
  padding: 0 60px; }
  .banner.blue {
    background: #F8FCFE; }
  .banner.gray {
    background: #F9F4FB; }
  .banner.probador {
    background: #E3F9F7; }
  .banner .text {
    position: absolute;
    width: 100%;
    height: 400px;
    margin: 0 120px 0 0;
    text-align: left;
    z-index: 2; }
    .banner .text h3 {
      font-size: 25px;
      margin: 80px 0 40px;
      color: #4A4A4A; }
    .banner .text p {
      font-size: 17px;
      color: #9B9B9B;
      margin-bottom: 6px; }
  .banner .cover {
    position: absolute;
    vertical-align: top;
    width: 100%;
    height: 400px;
    top: 0;
    z-index: 1; }
    .banner .cover.examen {
      background: url(../images/vr.png) 730px center no-repeat;
      background-size: 500px; }
    .banner .cover.micas {
      background: url(../images/micas.png) 600px center no-repeat; }
    .banner .cover.probador {
      background: url(../images/probador.png) 600px center no-repeat; }
    .banner .cover.doctor {
      background: url(../images/doctor.png) 700px center no-repeat;
      background-size: 400px; }
  .banner .button {
    margin-top: 40px; }

#wishlist {
  background: #F7F5F6; }
  #wishlist .title {
    width: 100%;
    overflow: hidden;
    padding: 40px 0 40px 40px; }
    #wishlist .title p {
      float: left;
      font-size: 18px;
      font-weight: 200;
      margin-right: 20px; }
    #wishlist .title .line {
      overflow: hidden;
      height: 1px;
      background: #979797;
      opacity: 0.2;
      margin-top: 8px; }

#alerta {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 200;
  background: #FFF;
  text-align: center; }
  #alerta #alerta_controls {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #DADADA;
    background: #FFF; }
    #alerta #alerta_controls #alerta_close {
      float: right;
      width: 70px;
      height: 70px;
      background: url(../images/alerta/close.png) center no-repeat;
      cursor: pointer; }
  #alerta #alerta_header {
    background: url(../images/pago/bg.png) center no-repeat;
    background-size: cover;
    padding: 80px 0 60px; }
    #alerta #alerta_header img {
      margin-bottom: 50px; }
    #alerta #alerta_header h2 {
      font-size: 30px;
      margin-bottom: 30px; }
    #alerta #alerta_header p {
      font-size: 18px; }
    #alerta #alerta_header .button {
      display: block;
      margin: 40px auto 0; }
  #alerta #alerta_footer {
    padding: 80px 0;
    background: #F7F7F7; }
    #alerta #alerta_footer p {
      font-size: 18px; }
    #alerta #alerta_footer .asesor {
      padding: 40px 0; }
      #alerta #alerta_footer .asesor * {
        display: inline-block;
        vertical-align: top; }
      #alerta #alerta_footer .asesor img {
        width: 40px; }
      #alerta #alerta_footer .asesor h2 {
        font-size: 25px;
        margin: 8px 16px 0; }
      #alerta #alerta_footer .asesor .whatsapp {
        color: #3ACE01;
        font-size: 20px;
        margin-top: 12px; }
      #alerta #alerta_footer .asesor .icon {
        width: 20px;
        height: 20px;
        background: url(../images/asesor/whatsapp.png) center no-repeat;
        margin: 14px 0 0 6px; }
  #alerta.login {
    background: #F7F7F7; }
  #alerta #login {
    width: 448px;
    border-radius: 10px;
    background: #FFF;
    margin: 100px auto 0;
    border: 1px solid #EDEDED;
    padding: 40px; }
    #alerta #login p {
      font-size: 16px;
      color: #000;
      opacity: 0.6;
      margin-bottom: 20px; }
    #alerta #login img {
      margin-bottom: 20px; }
    #alerta #login .field {
      margin-top: 30px;
      text-align: left; }
      #alerta #login .field span {
        display: block;
        font-size: 13px;
        opacity: 0.5; }
      #alerta #login .field input {
        width: 408px;
        padding: 10px 20px;
        margin-top: 6px;
        font-size: 22px;
        border-radius: 5px;
        border: 1px solid #EBEBEB;
        background: #F8F8F8;
        outline: none; }
      #alerta #login .field .tip {
        font-size: 14px;
        opacity: 0.5;
        margin-top: 4px; }
    #alerta #login #checks {
      margin-top: 30px; }
      #alerta #login #checks .check {
        margin-top: 20px;
        text-align: left; }
        #alerta #login #checks .check * {
          display: inline-block;
          vertical-align: middle; }
        #alerta #login #checks .check .icon {
          cursor: pointer;
          width: 20px;
          height: 20px;
          background: url(../images/login/uncheck.png) center no-repeat; }
          #alerta #login #checks .check .icon.active {
            background: url(../images/login/check.png) center no-repeat; }
        #alerta #login #checks .check span {
          font-size: 14px;
          opacity: 0.5; }
          #alerta #login #checks .check span a {
            text-decoration: underline;
            color: #000; }
    #alerta #login .button {
      margin: 40px auto; }
    #alerta #login .redalert {
      font-size: 14px;
      color: #D0021B;
      opacity: 0.5; }

#footer {
  background: #000;
  width: 100%;
  overflow: hidden;
  padding: 100px 0 20px;
  text-align: center; }
  #footer p {
    text-align: center;
    color: #FFF;
    opacity: 0.4;
    font-size: 13px; }
  #footer ul {
    padding-bottom: 80px;
    text-align: center; }
    #footer ul li {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      padding: 0 80px; }
      #footer ul li * {
        text-align: left;
        font-size: 13px; }
      #footer ul li span {
        display: block;
        color: #FFF;
        opacity: 0.5;
        margin-bottom: 14px; }
      #footer ul li a {
        display: block;
        color: #FFF;
        opacity: 0.5;
        margin-bottom: 12px; }
        #footer ul li a:hover {
          opacity: 1; }
      #footer ul li .nt {
        float: left;
        width: 20px;
        height: 20px;
        opacity: 1;
        margin: 0 10px; }
        #footer ul li .nt.fb {
          background: url(../images/social/fb.svg) center no-repeat; }
        #footer ul li .nt.fb:hover {
          background: url(../images/social/fb_w.svg) center no-repeat; }
        #footer ul li .nt.in {
          background: url(../images/social/in.svg) center no-repeat; }
          #footer ul li .nt.in:hover {
            background: url(../images/social/in_w.svg) center no-repeat; }

@media all and (max-width: 767px) {
  .supercenter {
    width: 80%; }

  .banner .text {
    margin: 0 40px; }
    .banner .text h3 {
      font-size: 30px;
      width: 86%; }
    .banner .text p {
      font-size: 16px; }

  #content .section .title {
    padding: 40px 20px; }
  #content .section .text {
    padding: 0 40px; }
    #content .section .text h2 {
      font-size: 30px; }
  #content .section .image {
    width: 250px;
    height: 250px; }
  #content .section ul li {
    width: 110px;
    margin-bottom: 40px; }
    #content .section ul li .image {
      width: 169px;
      height: 50px; }

  #asesor {
    display: none; }

  #super {
    height: auto !important; }

  .gridcontent .grid {
    width: 100%;
    height: 240px; }
    .gridcontent .grid .img {
      margin: 30px auto;
      width: 300px;
      height: 120px; }

  .examen_view #brigadas .brigada {
    width: 100% !important;
    margin-left: 0 !important; }
    .examen_view #brigadas .brigada img {
      width: 80%; }

  #graduaciones .graduacion {
    width: 100% !important; }
    #graduaciones .graduacion img {
      display: block;
      width: 80%;
      margin: 0 auto; }
    #graduaciones .graduacion:nth-child(2) {
      margin-left: 0 !important; } }
@media all and (min-width: 768px) and (max-width: 1279px) {
  .gridcontent .grid {
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
